* {
    margin : 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size : 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    font-family     : 'Spartan', sans-serif;
    font-weight     : 500;
    line-height     : 1.6;
    background-color: var(--bg);
}

h1 {
    font-size     : 3.2rem;
    line-height   : 3.6rem;
    letter-spacing: -1px;
}

h2 {
    font-size     : 2rem;
    line-height   : 2.4rem;
    letter-spacing: -.8px;
}

.container {
    max-width: 73rem;
    margin   : 0 auto;
    padding  : 0 2.4rem;
}